<style type="text/css">
	@media screen and (max-width: 576px){
		#side{
			width: 20%;
		}
	}
</style>
	
	<div class="d-flex flex-column col-sm-2 col-lg-2 col-xl-2 flex-shrink-0 p-1 text-white bg-dark" id="side">
		<a href="<%= root_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" target="_self">
			<!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
			<span class="fs-4"><%= image_tag "client/logo.png",alt: "Logo", class: 'img-fluid img-thumbnail'%></span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="#" class="nav-link active" aria-current="page">
					<!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg> -->
					<%= image_tag "binance.png",alt: "binance", width:"16" %>
					Binance
				</a>
			</li>

			<% if @clients.present? %>
				<% @clients.each do |cli| %>
					<li>
						<a href="<%= control_clients_path(cli.id) %>" class="nav-link text-white">
							<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
							<%= cli.name %>
						</a>
					</li>
				<% end %>
			<% else %>
				<li>
					<a href="<%= new_client_path %>" class="nav-link text-white">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
						<button type="button" class="btn btn-light">新增</button>
					</a>
				</li>
			<% end %>
		</ul>

		<hr>
		<div class="dropdown">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
				<%= image_tag "client/logo.png",alt: "Logo", width:"100",class: "img-fluid" %>
				<strong> &nbsp;设置</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
				<li><a class="dropdown-item" href="<%= new_client_path %>">新增客户</a></li>
				<li><a class="dropdown-item" href="/clients/vip">会员中心</a></li>
				<li><a class="dropdown-item" href="/clients/vip">我的分享</a></li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<%= link_to "离开系统",destroy_user_session_path, class:"dropdown-item sidebar-link", method: :delete %>
				</li>
			</ul>
		</div>
	</div>
